<ul>
  <li><strong>Movie ID :</strong><%= params[:id] %></li>
  <li><strong>Title : <%= @book_by_id[:title].upcase %></strong></li>
  <li><strong>Year released:  </strong><%= @book_by_id[:year] %></li>
  <li><strong>Rating : </strong><%= @book_by_id[:rating] %></li>
  <li><strong>Genre :</strong> <%= @book_by_id[:genre] %></li>
  <li><strong>Studio : </strong><%= @book_by_id[:studio] %></li>
  <li><strong>Synopsis : </strong><%= @book_by_id[:synopsis] %></li>
</ul>
